<div class="home">
    <h1>My Web App!</h1>
    <parking-widget id="myParkingWidget"
        name="{{ name }}"
        airport="{{ departureAirport }}"
        map="{{ map }}"
        features='{{{ json features }}}'
        parkings='{{{ json parkings }}}'
        dictionary='{{{ json dictionary }}}'>
    </parking-widget>
    <div id="parking-cart"></div>
</div>

